<h1><%= @stylist.name() %> Details</h1>

<h4><%= @stylist.name()%>:</h4>
<ul>
  <% @stylist.clients.each do |client| %>
    <li><%= client.name %></li>
  <% end %>
</ul>

<p><a href="/stylist/<%= @stylist.id %>/new">Add a client</a></p>
<p><a href="/stylists">View stylists</a></p>
