<h1>Please enter the name of the new stylist you would like to add:</h1>


<form action="/stylists" method="post">
  <div class = "form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control">
  </div>
  <button type="submit" class="btn btn-info">Enter new stylist</button>
</form>
