<h1 class="text-center page-header">Stylists</h1>

<ul>
<% @stylists.each do |stylist| %>
  <li><a href="/stylist/<%=stylist.id %>"><%= stylist.name %></a></li>
<% end %>
</ul>
<a href="/stylist/new">Add a Styist</a>
